@model IEnumerable<TallerCRUDNETCORE.Models.Entidades.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                Fecha ingreso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProveedorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
