@model IEnumerable<TallerCRUDNETCORE.Models.Entidades.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Crear">Crear proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Persona de contacto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                Teléfono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.ProveedorId">Editar</a> |
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.ProveedorId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.ProveedorId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
